/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;

  max-width: 100%;
}

button {
  background-color: blue;
  padding: 5px 10px;
  border: 0;
  color: white;
}

h2 {
  margin: 30px;
}

.section {
  text-align: center;
  padding: 0 700px;
}

/* # HEADER */

.upper-header {
  display: flex;
  justify-content: space-between;
}

.header-item {
  margin: 20px;
}

.header-item-left,
.header-item-right {
  margin-right: 20px;
}

.bottom-header {
  background-color: rgb(111, 217, 221);
  text-align: center;
}

.header-title {
  font-size: 30px;
  padding: 0 700px;
}

.header-content {
  padding: 0 700px;
}

.header-image {
  max-width: 700px;
}

/* # MAIN */

.main-card {
  width: 300px;
}

.header-card,
.content-card {
  border: 1px solid black;
}

.flex-right {
  display: flex;
}

#image {
  max-width: 500px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-image {
  max-width: 300px;
}

.card-function {
  max-width: 300px;
  margin: 20px;
}

/* # FOOTER */

footer {
  background-color: black;
}
